$text-color: #022E57;
$text-hover: #FF96AD;
$background: #FFF5FD;
$navbar: #4f779d;

$screen-sm-min: 600px;
$screen-md-min: 960px;
$screen-lg-min: 1280px;

$screen-xs-max: 599px;
$screen-sm-max: 959px;
$screen-md-max: 1279px;
$screen-lg-max: 1919px;

$sm-width: 83%;
$md-width: 75%;
$lg-width: 65%;
