@import '_variables.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: $text-color;
  @font-face {
    font-family: 'Noto Sans', sans-serif;
    src: url(../../static/fonts/NotoSans-ExtraLight.ttf);
  }
  
  @font-face {
    font-family: 'Noto Sans', sans-serif;
    src: url(../../static/fonts/NotoSans-Light.ttf);
  }
  
  @font-face {
    font-family: 'Noto Sans', sans-serif;
    src: url(../../static/fonts/NotoSans-Medium.ttf);
  }
  
  @font-face {
    font-family: 'Noto Sans', sans-serif;
    src: url(../../static/fonts/NotoSans-SemiBold.ttf);
  }
}

a {
  text-decoration: none;
  color: $text-color;
  transition: 0.3s;
  &:hover {
    color: $text-hover;
  }
}

p {
  text-align: justify;
}

