@import '../_variables.scss';

    .project__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        h2{
            font-size: 30px;
            margin-top: 0;
            margin-bottom: 10px;
        }
        p{
            font-size: 18px;
        }    
    }

    .link-button {
        display: block;
        border: 1px solid;
        padding: 10px 15px;
        border-radius: 3px;
        margin-bottom: 20px;
        text-align: center;
        @media only screen and (max-width: $screen-sm-max) {
            margin: 0 auto;
            width: 80%;
        }
        @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            margin: 0 auto;
            width: 30%;
        }

        @media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            width: 200px;
        }
            
        @media only screen and (min-width: $screen-lg-min) {
            width: 200px;
        }
    }
